
@{
    ViewBag.Title = "About";
}
@section CssContent
    {
    <link href="@Url.Content("~/Content/about.css")" rel="stylesheet" type="text/css" />
}
<div class="content">
    <div class="incontent">
        <div class="grid">
            <div style="clear:both; height:50px;"></div>


            <a class="bg op0">
                <div class="rhombus">
                    <div><img width="150px" height="150px" src="img/guys/Artem.png" /></div>
                    <button>Frontend-Developer</button>
                </div>
                <h1>Антоненко Артем</h1>
                <br>

                <p class="small">Тут повинна бути "няшна"цитата</p>
                <br><br>
                <br>
                <p class="soc"><img src="img/pronas/social/facebook.png" /> www.facebook.com/artemka.antonenko</p>
            </a>
            <a class="bg op0 upper">



                <div class="rhombus">
                    <div><img width="150px" height="150px" src="img/guys/Lilia.png" /></div>
                    <button>Designer</button>
                </div>
                <h1>Лілія Скок</h1>
                <br>

                <p class="small">Дезігнер-енерджайзер</p>
                <br><br>
                <br>
                <p class="soc"><img src="img/pronas/social/facebook.png" /> www.facebook.com/lilia.skok</p>
            </a>




            <a class="bg op0">
                <div class="rhombus">
                    <div><img width="150px" height="150px" src="img/guys/Eugene.png" /></div>
                    <button>Team-Leader</button>
                </div>
                <h1>Евгеній Величенко</h1>
                <br>
                <p class="small">Жити по-новому…в НАУ</p>
                <br><br>
                <br>
                <p class="soc"><img src="img/pronas/social/facebook.png" /> www.facebook.com/eugene.velych</p>

            </a>




            <div style="clear:both; height:180px;"></div>
            <a class="bg op0">
                <div class="rhombus">
                    <div><img width="150px" height="150px" src="img/guys/Katya.png" /></div>
                    <button>Content Manager</button>
                </div>
                <h1>Катерина Рибалочка</h1>
                <br>

                <p class="small">ЛОХ - людина обдарована харизмою</p>
                <br><br>
                <br>
                <p class="soc"><img src="img/pronas/social/facebook.png" /> www.facebook.com/katyalovesmandarinki</p>
            </a>


            <a class="bg op0 upper">
                <div class="rhombus">
                    <div><img width="150px" height="150px" src="img/guys/Main.png" /></div>
                    <button>Tech-Leader</button>
                </div>
                <h1>Евгеній Вовк</h1>
                <br>

                <p class="small">Тяжела и неказиста жизнь простого программиста</p>

                <br><br>
                <br>
                <p class="soc"><img src="img/pronas/social/facebook.png" /> www.facebook.com/vovk.eugene</p>
            </a>




            <a class="bg op0">
                <div class="rhombus">
                    <div><img width="150px" height="150px" src="img/guys/YULIA.png" /></div>
                    <button>Copiwriter</button>
                </div>
                <h1>Юлія Матюхіна</h1>
                <br>

                <p class="small">Не будь маглом – голосуй об’єктивно.</p>
                <br><br>
                <br>
                <p class="soc"><img src="img/pronas/social/facebook.png" /> www.facebook.com/ulka.dev</p>
            </a>
            <div style="clear:both; height:150px;"></div>
        </div>
    </div>
</div>
<div class="search" id="sPronas2">
    <div class="mask">
        <div>
            <h1>Якщо бажаєш приєднатися, напиши нам</h1>
            <h2>RIGHTNAU42@GMAIL.COM</h2>
        </div>
    </div>
</div>