
@{
    ViewBag.Title = "Map";
}
@section CssContent
    {
    <link href="@Url.Content("~/Content/map.css")" rel="stylesheet" type="text/css" />
}

    <div class="search" id="mRozklad">
        <div class="mask">
            <div>
                <h1>Мапа Університету</h1>

            </div>
        </div>
    </div>
    
    <div class="content">
        <div class="text_map">КАРТА НАУ</div>
        <div class="map">
            <iframe src="https://www.google.com/maps/d/embed?mid=1uOVv3utHq0mzKiZixG_ujWCrRqc" width="100%" height="480"></iframe>
        </div>

        <div style="clear:both;"></div>
    </div>

 
