
@{
    ViewBag.Title = "Rozklad";
}
@section CssContent
    {
    <link href="@Url.Content("~/Content/rozklad.css")" rel="stylesheet" type="text/css" />
}
@{Html.RenderPartial("../Partial/_Rozklad");}
<div class="content">
    <div class="incontent">

        <div class="grid">

            <a href="#" class="bg">
                <figure class="effect-goliath">
                    <img src="../img/rozklad/test.jpg" alt="img23" />
                    <figcaption>
                        <h2>FACULTET<span>NAU</span></h2>
                    </figcaption>
                </figure>
            </a><a href="#" class="bg">
    <figure class="effect-goliath">
        <img src="../img/rozklad/test.jpg" alt="img23" />
        <figcaption>
            <h2>FACULTET<span>NAU</span></h2>
        </figcaption>
    </figure>
</a><a href="#" class="bg">
    <figure class="effect-goliath">
        <img src="../img/rozklad/test.jpg" alt="img23" />
        <figcaption>
            <h2>FACULTET<span>NAU</span></h2>
        </figcaption>
    </figure>
</a><a href="#" class="bg">
    <figure class="effect-goliath">
        <img src="../img/rozklad/test.jpg" alt="img23" />
        <figcaption>
            <h2>FACULTET<span>NAU</span></h2>
        </figcaption>
    </figure>
</a><a href="#" class="bg">
    <figure class="effect-goliath">
        <img src="../img/rozklad/test.jpg" alt="img23" />
        <figcaption>
            <h2>FACULTET<span>NAU</span></h2>
        </figcaption>
    </figure>
</a><a href="#" class="bg">
    <figure class="effect-goliath">
        <img src="../img/rozklad/test.jpg" alt="img23" />
        <figcaption>
            <h2>FACULTET<span>NAU</span></h2>
        </figcaption>
    </figure>
</a><a href="#" class="bg">
    <figure class="effect-goliath">
        <img src="../img/rozklad/test.jpg" alt="img23" />
        <figcaption>
            <h2>FACULTET<span>NAU</span></h2>
        </figcaption>
    </figure>
</a><a href="#" class="bg">
    <figure class="effect-goliath">
        <img src="../img/rozklad/test.jpg" alt="img23" />
        <figcaption>
            <h2>FACULTET<span>NAU</span></h2>
        </figcaption>
    </figure>
</a><a href="#" class="bg">
    <figure class="effect-goliath">
        <img src="../img/rozklad/test.jpg" alt="img23" />
        <figcaption>
            <h2>FACULTET<span>NAU</span></h2>
        </figcaption>
    </figure>
</a><a href="#" class="bg">
    <figure class="effect-goliath">
        <img src="../img/rozklad/test.jpg" alt="img23" />
        <figcaption>
            <h2>FACULTET<span>NAU</span></h2>
        </figcaption>
    </figure>
</a><a href="#" class="bg">
    <figure class="effect-goliath">
        <img src="../img/rozklad/test.jpg" alt="img23" />
        <figcaption>
            <h2>FACULTET<span>NAU</span></h2>
        </figcaption>
    </figure>
</a><a href="#" class="bg">
    <figure class="effect-goliath">
        <img src="../img/rozklad/test.jpg" alt="img23" />
        <figcaption>
            <h2>FACULTET<span>NAU</span></h2>
        </figcaption>
    </figure>
</a>

        </div>
</div></div>