html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html,body{height:100%;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
.content{
	width:100%;
	margin-bottom:50px;
}
.incontent{
	width:80%;
	margin:10px auto;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
body{background-color:#f7f7f7;}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
footer{
	width:100%;
	height:100px;
	background-color:#4a4e52;
	margin:25px 0 0 0;
	text-align:center;
	display:table;
	}
footer h3{
	color:white;
	font-family: lato-regular; 
	font-size:13px;
	display:table-cell;
	vertical-align:middle;
}body{background-color:#f7f7f7;}
header{
	height:70px;
	margin:25px 0;
	width:100%;
	background-color:#FFF;
	display:table;
}
header h1{ 
	display:table-cell;
	vertical-align:middle;
	position:relative;
	left:10%;
	font-size: 60px;
	font-family: lato-light; 
	float:left;
	top:7px;
}
header h1 b{ 
	font-family: lato-bold; 
	color:#33cc99;
}
.menu{
	display:table-cell;
	vertical-align:middle;
	text-align:right;
	position:relative;
	right:10%;
	width:380px;
}
.menu a{
	text-decoration:none;
	color:#333;
	font-family:lato-bold;
	padding:5px 10px;
}
.menu a:hover{
	text-decoration:none;
	color:#000;
	font-family:lato-bold;
	padding:5px 10px;
}
.content{
	width:100%;
	margin-bottom:50px;
}
.incontent{
	width:80%;
	margin:10px auto;
}

.menu{
	display:table-cell;
	vertical-align:middle;
	text-align:right;
	position:relative;
	right:10%;
	width:380px;
}
.menu a{
	text-decoration:none;
	color:#333;
	font-family:lato-bold;
	padding:5px 10px;
}
.menu a:hover{
	text-decoration:none;
	color:#000;
	font-family:lato-bold;
	padding:5px 10px;
}

@font-face {
    font-family: lato-regular; 
    src: url(../fonts/Lato/Lato-Regular.ttf); 
   }
@font-face {
    font-family: lato-light; 
    src: url(../fonts/Lato/Lato-Light.ttf); 
   }
@font-face {
    font-family: lato-bold; 
    src: url(../fonts/Lato/Lato-Bold.ttf); 
   }