@{Layout = null; }
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/index")


</head>

<body>

<div class="site-wrapper">
    

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">RKE</h3>
                    <nav>
                        <ul class="nav masthead-nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#">Features</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="text">
                <h1 class="cover-heading">Rozklad KPI Extensions</h1>
                @using (Html.BeginForm("Index", "Lessons", FormMethod.Get))
                {
                    <div class="input-group col-md-4 col-sm-12">

                        <input type="text" class="form-control" name="text" placeholder="Search for...">
                        <span class="input-group-btn">
                            <input type="submit" class="btn btn-default input-group-btn btn-submit" value="Go!"/>
                        </span>
                    </div>

                }
            </div>

            <div class="mastfoot">
                <div class="inner">
                    <p>Powered by <a href="http://acts.kpi.ua">Acts</a> 2017
                    </p>
                    <p>Connect with us:kafedra@acts.kpi.ua</p>
                </div>
            </div>

        </div>

    </div>

</div>
</body>
</html>
