<div class="search" id="sRozklad">
    <div class="mask">
        <div>
            <h1>Розклад</h1>
            <h2>Обери свій інститут</h2>
            <br><br>
            <a href="#"><img src="../img/search/search.png" /></a>
        </div>
    </div>
</div>
