
<table class="table">
    <thead>
        <tr>
            <th rowspan="2">Пара</th>
            <th colspan="7">День тижня</th>
        </tr>
        <tr>
            <th>Понеділок</th>
            <th>Вівторок</th>
            <th>Середа</th>
            <th>Четвер</th>
            <th>П'ятниця</th>
            <th>Субота</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="lesson">
                <p>1</p>
            </td>
            <td>
                <p class="lessonName">Велика назва предмету</p>
                <p class="teacher">Викладач</p>
                <p class="room">Аудиторія</p>
            </td>
            <td>
                <p class="lessonName">Велика назва предмету</p>
                <p class="teacher">Викладач</p>
                <p class="room">Аудиторія</p>
            </td>
            <td>
                <p class="lessonName">Велика назва предмету</p>
                <p class="teacher">Викладач</p>
                <p class="room">Аудиторія</p>
            </td>
            <td>
                <p class="lessonName">Велика назва предмету</p>
                <p class="teacher">Викладач</p>
                <p class="room">Аудиторія</p>
            </td>
            <td>
                <p class="lessonName">Велика назва предмету</p>
                <p class="teacher">Викладач</p>
                <p class="room">Аудиторія</p>
            </td>
            <td>
                <p class="lessonName">Велика назва предмету</p>
                <p class="teacher">Викладач</p>
                <p class="room">Аудиторія</p>
            </td>
        </tr>
        <tr>
            <td class="lesson">
                <p>1</p>
            </td>
            <td>
                <p class="lessonName">Велика назва предмету</p>
                <p class="teacher">Викладач</p>
                <p class="room">Аудиторія</p>
            </td>
            <td>
                <p class="lessonName">Велика назва предмету</p>
                <p class="teacher">Викладач</p>
                <p class="room">Аудиторія</p>
            </td>
            <td>
                <p class="lessonName">Велика назва предмету</p>
                <p class="teacher">Викладач</p>
                <p class="room">Аудиторія</p>
            </td>
            <td>
                <p class="lessonName">Велика назва предмету</p>
                <p class="teacher">Викладач</p>
                <p class="room">Аудиторія</p>
            </td>
            <td>
                <p class="lessonName">Велика назва предмету</p>
                <p class="teacher">Викладач</p>
                <p class="room">Аудиторія</p>
            </td>
            <td>
                <p class="lessonName">Велика назва предмету</p>
                <p class="teacher">Викладач</p>
                <p class="room">Аудиторія</p>
            </td>
        </tr>
        <tr>
            <td class="lesson">
                <p>1</p>
            </td>
            <td>
                <p class="lessonName">Велика назва предмету</p>
                <p class="teacher">Викладач</p>
                <p class="room">Аудиторія</p>
            </td>
            <td>
                <p class="lessonName">Велика назва предмету</p>
                <p class="teacher">Викладач</p>
                <p class="room">Аудиторія</p>
            </td>
            <td>
                <p class="lessonName">Велика назва предмету</p>
                <p class="teacher">Викладач</p>
                <p class="room">Аудиторія</p>
            </td>
            <td>
                <p class="lessonName">Велика назва предмету</p>
                <p class="teacher">Викладач</p>
                <p class="room">Аудиторія</p>
            </td>
            <td>
                <p class="lessonName">Велика назва предмету</p>
                <p class="teacher">Викладач</p>
                <p class="room">Аудиторія</p>
            </td>
            <td>
                <p class="lessonName">Велика назва предмету</p>
                <p class="teacher">Викладач</p>
                <p class="room">Аудиторія</p>
            </td>
        </tr>
        <tr>
            <td class="lesson">
                <p>1</p>
            </td>
            <td>
                <p class="lessonName">Велика назва предмету</p>
                <p class="teacher">Викладач</p>
                <p class="room">Аудиторія</p>
            </td>
            <td>
                <p class="lessonName">Велика назва предмету</p>
                <p class="teacher">Викладач</p>
                <p class="room">Аудиторія</p>
            </td>
            <td>
                <p class="lessonName">Велика назва предмету</p>
                <p class="teacher">Викладач</p>
                <p class="room">Аудиторія</p>
            </td>
            <td>
                <p class="lessonName">Велика назва предмету</p>
                <p class="teacher">Викладач</p>
                <p class="room">Аудиторія</p>
            </td>
            <td>
                <p class="lessonName">Велика назва предмету</p>
                <p class="teacher">Викладач</p>
                <p class="room">Аудиторія</p>
            </td>
            <td>
                <p class="lessonName">Велика назва предмету</p>
                <p class="teacher">Викладач</p>
                <p class="room">Аудиторія</p>
            </td>
        </tr>
        <tr>
            <td class="lesson">
                <p>1</p>
            </td>
            <td>
                <p class="lessonName">Велика назва предмету</p>
                <p class="teacher">Викладач</p>
                <p class="room">Аудиторія</p>
            </td>
            <td>
                <p class="lessonName">Велика назва предмету</p>
                <p class="teacher">Викладач</p>
                <p class="room">Аудиторія</p>
            </td>
            <td>
                <p class="lessonName">Велика назва предмету</p>
                <p class="teacher">Викладач</p>
                <p class="room">Аудиторія</p>
            </td>
            <td>
                <p class="lessonName">Велика назва предмету</p>
                <p class="teacher">Викладач</p>
                <p class="room">Аудиторія</p>
            </td>
            <td>
                <p class="lessonName">Велика назва предмету</p>
                <p class="teacher">Викладач</p>
                <p class="room">Аудиторія</p>
            </td>
            <td>
                <p class="lessonName">Велика назва предмету</p>
                <p class="teacher">Викладач</p>
                <p class="room">Аудиторія</p>
            </td>
        </tr>
    </tbody>
</table>